{% extends "base.html" %}
{% block style %}
<style>
    
    html, body {
        height: 100%;
        font-family: "Playfair Display", serif;
        background: linear-gradient(-45deg, #e96e49, #af0c4b, #23a6d5, #13af8b);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;  
    }

    .auth-box {
        
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 600px;
        margin: auto;
        background: linear-gradient(-45deg, #e96e49, #af0c4b, #23a6d5, #13af8b);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;  
  
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .login-form-container {
       
        padding-top: 25px;
        padding-bottom: 25px;
        width: 300px;
        margin: auto;
    }

    .registration-form-container {
        width: 400px;
        margin: auto;
    }

    .outer-area {
        margin-top: 0px;
    }
</style>
{% endblock %}

{% block content %}
<div class="outer-area">
    <div class="auth-box text-center">
        {% block auth %}
        {% endblock %}
    </div>
</div>
{% endblock %}